NODE_ENV=development
PORT=3000
API_PREFIX=api

DATABASE_URL=postgres://postgres:postgres@localhost:5432/nest_db
DATABASE_SSL=false

# storage: "local" | "s3"
STORAGE_DRIVER=local

# --- local driver ---
STORAGE_LOCAL_PATH=./uploads
STORAGE_LOCAL_PUBLIC_URL=/files

# --- s3 driver (compatible con MinIO usando STORAGE_S3_ENDPOINT) ---
# STORAGE_S3_BUCKET=my-bucket
# STORAGE_S3_REGION=us-east-1
# STORAGE_S3_ACCESS_KEY=
# STORAGE_S3_SECRET_KEY=
# STORAGE_S3_ENDPOINT=
# STORAGE_S3_PUBLIC_URL=

# mail: "log" (dev — print) | "smtp"
MAIL_DRIVER=log
MAIL_FROM=no-reply@example.com

# --- smtp driver ---
# MAIL_SMTP_HOST=smtp.example.com
# MAIL_SMTP_PORT=587
# MAIL_SMTP_SECURE=false
# MAIL_SMTP_USER=
# MAIL_SMTP_PASS=